div.battle-screen{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 5;
  background-size: 100% 100%;
  &[data-bg="cyan"]{
    background: url(../images/gui/battle/background/grass-background.png) no-repeat;
  }
  .fight-box{
    font-family: pokemon;
    font-size: 40px;
    color: white;
    font-family: pokemon;
    padding: 30px 50px 30px 50px;
    box-sizing: border-box;
    font-size: 41px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 188px;
    z-index: 6;
    background: url(../images/gui/battle/box/attack-box.png);
    .moves{
      height: 100%;
      width: 555px;
      margin-left: -5px;
      span[class^="move-"]{
        color: black;
        width: 49%;
        height: 49%;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 35px;
        font-size: 50px;
        &[data-selected="true"]{
          background: url(../images/gui/battle/icons.png) no-repeat 0px 7px;
        }
        &:nth-of-type(3), &:nth-of-type(4){
          padding-top: 0px;
        }
      }
    }
  }
  .action-menu{
    color: white;
    font-family: pokemon;
    padding: 30px 50px 30px 50px;
    box-sizing: border-box;
    font-size: 41px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 188px;
    z-index: 2;
    &[data-bg="start"]{
      background-image: url(../images/gui/battle/box/text-box.png);
    }
    .action-box{
      position: absolute;
      right: 0px;
      top: 0px;
      height: 188px;
      width: 470px;
      background-image: url(../images/gui/battle/box/action-box.png);
      span{
        color: black;
        width: 50%;
        height: 49%;
        display: inline-block;
        box-sizing: border-box;
        padding-top: 26px;
        padding-left: 80px;
        font-size: 60px;
        &[data-selected="true"]{
          background: url(../images/gui/battle/icons.png) no-repeat 43px 36px;
          &:nth-of-type(3), &:nth-of-type(4){
            background-position: 43px 13px;
          }
        }
        &:nth-of-type(3), &:nth-of-type(4){
          padding-top: 0px;
        }
      }
    }
  }
  .enemy-health, .ally-health{
    font-family: pokemon;
    font-size: 40px;
    padding: 15px 30px;
    box-sizing: border-box;
    .pokemon-lvl{
      float: right;
      padding-right: 28px;
    }
    .health-bar{
      height: 10px;
      width: 203px;
      background-image: url(../images/gui/battle/green-bar.png);
      background-repeat: repeat-x;
      position: absolute;
      @include transition(width 1s linear);
    }
  }
  .enemy-health{
    background-image: url(../images/gui/battle/box/opponent-box.png);
    height: 118px;
    width: 420px;
    top: 5%;
    left: 5%;
    position: absolute;
    .health-bar{
      left: 163px;
      top: 71px;
    }
  }
  .ally-health{
    background-image: url(../images/gui/battle/box/player-box.png);
    height: 145px;
    width: 418px;
    position: absolute;
    bottom: 198px;
    right: 3%;
    &[data-active="true"]{
      @include animation(anim-player-health 800ms steps(2) infinite);
    }
    .pokemon-name {
      padding: 15px 35px;
    }
    .pokemon-lvl{
      padding-right: 5px;
    }
    .health-bar{
      left: 191px;
      top: 68px;
      width: 194px;
    }
    .pokemon-health{
      position: absolute;
      bottom: 15px;
      right: 40px;
    }
    .exp-bar{
      top: 134px;
      left: 126px;
      height: 8px;
      background-color: #50a0cc;
      position: absolute;
      @include transition(width 1s linear);
    }
  }
  .enemy-pokemon,.ally-pokemon{
    width: 256px;
    height: 256px;
    position: absolute;
  }
  .enemy-pokemon{
    right: 13%;
    top: 6%;
  }
  .ally-pokemon{
    background-position: 0 256px;
    bottom: 188px;
    left: 15%;
    &[data-selected="true"]{
      @include animation(anim-player-pokemon 800ms steps(2) infinite);
    }
  }
  .level-up{
    position: absolute;
    background-image: url(../images/gui/battle/level.png);
    width: 376px;
    height: 408px;
    bottom: 4px;
    right: 4px;
    z-index: 6;
    div[class^="level-"]{
      text-indent: 320px;
      height: 60px;
      width: 100%;
      font-family: pokemon;
      font-size: 50px;
      &:first-of-type{
        margin-top: 28px;
      }
    }
  }
}