.bag-gui{
  position: absolute;
  z-index: 6;
  background-image: url(../images/gui/bag/gui.png);
  width: 100%;
  height: 100%;
  .item-display{
    position: absolute;
    width: 120px;
    height: 104px;
    top: 284px;
    left: 20px;
    background: no-repeat center;
  }
  .item-desc{
    position: absolute;
    padding: 30px;
    box-sizing: border-box;
    width: 431px;
    height: 219px;
    top: 400px;
    font-size: 50px;
    font-family: pokemon;
  }
  .type-name{
    position: absolute;
    top: 35px;
    left: 120px;
    width: 268px;
    height: 56px;
    font-family: pokemon;
    font-size: 50px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    span{
      clear: none;
      display: inline-block;
      width: 268px;
      text-align: center;
    }
    span[data-animate="true"]{
      @include transition(margin-left 200ms linear);
    }
  }
  .pokeball-icon{
    position: absolute;
    background: url(../images/gui/bag/icons.png);
    left: 36px;
    top: 32px;
    height: 52px;
    width: 50px;
    @include transform-origin(center center);
    &[data-animate="left"]{
      @include animation(anim-pokeball-left 200ms steps(4) 1);
    }
    &[data-animate="right"]{
      @include animation(anim-pokeball-right 200ms steps(4) 1);
    }
  }
  .arrow-left{
    position: absolute;
    top: 31px;
    left: 97px;
    width: 41px;
    height: 62px;
    background-position: -54px 1px;
    @include animation(anim-bag-left 500ms steps(3) infinite);
  }
  .arrow-right {
    position: absolute;
    top: 31px;
    left: 390px;
    width: 41px;
    height: 62px;
    background-position: -100px 1px;
    @include animation(anim-bag-right 500ms steps(3) infinite);
  }
  .arrow-left, .arrow-right{
    background-image: url(../images/gui/bag/icons.png);
  }
  .bag{
    position: absolute;
    top: 136px;
    left: 146px;
    background: url(../images/gui/bag/bag.png);
    height: 256px;
    width: 240px;
    &[data-animate="true"]{
      @include animation(anim-bag 200ms linear 1);
    }
    &[data-selected="-1"]{
      background-position: 4px 0px;
    }
    &[data-selected="0"]{
      background-position: -260px 0px;
    }
    &[data-selected="1"]{
      background-position: -524px 0px;
    }
    &[data-selected="2"]{
      background-position: -788px 0px;
    }
    &[data-selected="3"]{
      background-position: -1052px 0px;
    }
    &[data-selected="4"]{
      background-position: -1316px 0px;
    }
  }

  .items{
    background-color: #d8d4a8;
    width: 480px;
    position: absolute;
    top: 60px;
    right: 32px;
    height: 520px;
    font-family: pokemon;
    font-size: 50px;
    span.amount{
      float: right;
    }
    span.item-name{
      text-transform: capitalize;
    }
    .item{
      padding-left: 40px;
      box-sizing: border-box;
      &[data-selected="true"]{
        background: url(../images/gui/battle/icons.png) no-repeat 4px 10px;
      }
    }
  }
  .use-item{
    position: absolute;
    background-image: url(../images/gui/bag/battle_use.png);
    width: 216px;
    height: 184px;
  }
}