div.parent.wrapper.battle-engage{
  //TODO: create the func lol
}

@include keyframes(anim-player-health) {
  0% {
    bottom: 198px;
  }
  100% {
    bottom: 188px;
  }
}

@include keyframes(anim-player-pokemon) {
  0% {
    bottom: 188px;
  }
  100% {
    bottom: 178px;
  }
}

@include keyframes(ball-shake-right){
  0%{
    @include transform(rotate(0deg));
    right: 228px;
  }
  50%{
    @include transform(rotate(25deg));
    right: 208px;
  }
  100%{
    @include transform(rotate(0deg));
    right: 228px;
  }
}

@include keyframes(ball-shake-left){
  0%{
    @include transform(rotate(0deg));
    right: 228px;
  }
  50%{
    @include transform(rotate(-25deg));
    right: 248px;
  }
  100%{
    @include transform(rotate(0deg));
    right: 228px;
  }
}

